.ShadowModal{
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100vw;
	z-index: 6;
	&::before{
		content: "";
		position: fixed;
		top: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, .46);
		z-index: 3;
	}
	
	& .ModalMenu{
		position: fixed;
		bottom: 0;
		height: 70%;
		width: 100%;
		z-index: 6;
		background-color: var(--primary-black);
		border-top: 2px solid var(--background-color);
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;

		& .CloseBtn{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 90%;
			margin: 0 5% 10px;
			background: none;
			border: 1px solid var(--primary-white);
			color: var(--text-color);
			font-size: 16px;
			border-radius: 20px;
			height: 40px;
		}
	}
}