@media (max-width: 450px) {
  .TWmobileMenu {
    position: fixed;
    bottom: 0;
    background-color: var(--primary-black);
    width: 100%;
    padding: 12px 0;
    z-index: 5;
  }
  .TWmobileMenu .TWmobileList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .TWmobileMenu .TWmobileList .TWmobileListItem[data-active=true] svg {
    fill: var(--primary-blue);
  }
  .TWmobileMenu .TWmobileList .TWmobileListItem svg {
    width: 40px;
    fill: var(--primary-white);
  }
}