.ShadowModal{
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 10px;
	&::before{
		content: "";
		position: fixed;
		width: 100vw;
		height: 100vh;
		z-index: 5;
	}
	
	& .NotificationBlock{
		position: absolute;
		z-index: 5;
		background-color: #d9534f;
		width: 85%;
		padding: 10px;
		border-radius: 15px;
		font-size: 18px;
		color: #fff;
	}
}