.TWcreatePost{
	margin: 5% 5%;

	& .TWcreatePostHeader{
		display: flex;
		justify-content: space-between;

		& .HeaderSpan{
			font-size: 20px;
		}
	}

	& .TWcreatePostMain{
		margin-top: 10px;
		display: flex;
		justify-content: center;
	}

	& .TWcreatePostFooter{

		& .PostInfo{
			display: flex;
			justify-content: space-between;
			align-items: center;

			& .ExtraBtns{
				display: flex;
				align-items: center;

				& button{
					background: none;
					border: none;
				}

				& .AddExtraEmoji{
					
					& svg{
						width: 28px;
					}
				}

				& svg{
					fill: var(--primary-blue);
				}
			}
		}
	}
}