.ProductBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 10px 10px;
  border-top: 1px solid var(--primary-gray);
  padding-top: 10px;
}
.ProductBlock:first-child {
  border: none;
}
.ProductBlock img {
  border-radius: 15px;
  width: 25%;
}
.ProductBlock .ImportantInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}
.ProductBlock .ImportantInfo .ProductName {
  font-size: 20px;
  margin-bottom: 10px;
}
.ProductBlock .ImportantInfo .ProductInclude {
  font-size: 18px;
  color: var(--background-color);
}
.ProductBlock .ImportantInfo .ProductInclude .ProductIncludeItem {
  border-right: 1px solid var(--background-color);
  padding: 3px;
}
.ProductBlock .ImportantInfo .ProductInclude .ProductIncludeItem:last-child {
  border: none;
}
.ProductBlock .ImportantInfo .ProductInclude .ProductIncludeItem[data-active=true] {
  border: 1px solid var(--primary-accepted-green);
  border-radius: 5px;
}

.DoneBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}
.DoneBtn .Done {
  background-color: var(--primary-blue);
  border: none;
  border-radius: 10px;
  width: 100%;
  color: #fff;
  font-size: 18px;
  height: 38px;
}