.StandartButton{
	background-color: var(--primary-blue);
	padding: 5px 15px;
	border: none;
	border-radius: 10px;
	color: #fff;

	transition: .07s;
		&:active{
			background-color: var(--primary-dark-blue);
		}

	& span{
		font-size: 16px;
	}
}