.AddNewChat{
	position: fixed;
	bottom: 75px;
	right: 5px;

	& button{
		display: flex;
		align-items: center;
		padding: 5px;
		border-radius: 50%;

		& span{
			font-size: 0;

			& svg{
				width: 42px;
				height: 42px;
				fill: #fff;
			}
		}

	}
}

.ModalMenuMain{
	padding: 10px;

	& .extraBlock{
		margin-top: 10px;
		display: flex;
		align-items: center;
		flex-direction: column;

		& textarea{
			border-radius: 5px;
			height: 40px;
			width: 80%;
			border: 1px solid var(--primary-blue);
			padding: 5px 10px;
		}
		
		& .Clue{
			margin: 10px 0;
			text-align: center;
			font-size: 17px;
		}
	}
}