.ChatBlock {
  padding-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid var(--primary-gray);
}
.ChatBlock:first-child {
  padding: 0;
  border-top: none;
}
.ChatBlock:last-child {
  margin: 0;
}
.ChatBlock a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ChatBlock a .ChatInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ChatBlock a .ChatInfo img {
  margin-left: 5%;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  margin-right: 20px;
  margin-left: 10px;
}
.ChatBlock a .ChatInfo .MainInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.ChatBlock a .ChatInfo .MainInfo .NameUser {
  margin-right: 5px;
  color: var(--primary-blue);
  max-width: 45vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ChatBlock a .ChatInfo .MainInfo .LastMessage {
  max-width: 50vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 5px;
}
.ChatBlock a .OtherInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-right: 5%;
}
.ChatBlock a .OtherInfo .MessageInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ChatBlock a .OtherInfo .MessageInfo .StatusMessage {
  margin-right: 5px;
}
.ChatBlock a .OtherInfo .MessageInfo .StatusMessage[data-check=true] svg {
  fill: var(--primary-blue);
}
.ChatBlock a .OtherInfo .MessageInfo .StatusMessage svg {
  width: 20px;
  fill: var(--primary-gray);
  margin-right: 5px;
}
.ChatBlock a .OtherInfo .MessageInfo .LastMessageDate {
  color: var(--primary-gray);
  font-size: 14px;
}
.ChatBlock a .OtherInfo .UnreadMessages {
  text-align: center;
  min-width: 20px;
  padding: 3px;
  min-height: 20px;
  border-radius: 15px;
  color: #fff;
  background-color: var(--background-color);
}
.ChatBlock a .OtherInfo .UnreadMessages span {
  font-size: 16px;
  margin: 0 2px;
}