@media (max-width: 450px) {
  .TWpostItem {
    border-top: 1px solid var(--primary-gray);
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .TWpostItem:first-child {
    border-top: none;
  }
  .TWpostItem img {
    margin-left: 5%;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    margin-right: 20px;
  }
  .TWpostItem .TWOtherMenu {
    min-width: 15%;
    max-width: 15%;
  }
  .TWpostItem .TWOtherMenu svg {
    fill: var(--primary-white);
    width: 60%;
  }
  .TWpostItem .OtherMenuList {
    display: grid;
    grid-template-columns: repeat(5, 0fr);
  }
  .TWpostItem .OtherMenuList.ExtraEmojiMenuList {
    border-top: 1px solid var(--primary-gray);
    margin-top: 5px;
    padding-top: 5px;
  }
  .TWpostItem .OtherMenuList .OtherMenuListItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5px;
    font-size: 18px;
  }
  .TWpostItem .TWpostItemInfo {
    width: 50%;
    margin-right: 5%;
  }
  .TWpostItem .TWpostItemInfo .TWpostItemHeader {
    margin-bottom: 5px;
  }
  .TWpostItem .TWpostItemInfo .TWpostItemHeader .TWpostItemName {
    margin-right: 5px;
    color: var(--primary-blue);
  }
  .TWpostItem .TWpostItemInfo .TWpostItemHeader .TWpostItemDate {
    color: var(--primary-gray);
    font-size: 14px;
  }
  .TWpostItem .TWpostItemInfo .TWpostItemMain {
    margin-bottom: 5px;
  }
  .TWpostItem .TWpostItemInfo .TWpostItemMain span {
    display: block;
    overflow-wrap: break-word;
  }
  .TWpostItem .TWpostItemInfo .TWpostItemFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .TWpostItem .TWpostItemInfo .TWpostItemFooter button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }
  .TWpostItem .TWpostItemInfo .TWpostItemFooter button svg {
    fill: var(--primary-white);
    width: 28px;
  }
  .TWpostItem .TWpostItemInfo .TWpostItemFooter button .TWpostItemLikeCount {
    margin-left: 5px;
    color: var(--primary-white);
    font-size: 20px;
  }
  .TWpostItem .TWpostItemInfo .ReactionSection {
    margin: 10px 0;
  }
  .TWpostItem .TWpostItemInfo .ReactionSection .ReactionEmoji {
    display: inline-block;
    position: static;
    background-color: var(--background-color);
    border-radius: 5px;
    padding: 3px 5px;
    margin: 3px 5px;
    color: var(--primary-blue);
  }
  .TWpostItem .TWpostItemInfo .ReactionSection .ReactionEmoji[data-selected=true] {
    border: 2px solid var(--primary-blue);
    background-color: rgba(29, 161, 242, 0.6);
    color: #fff;
  }
}