.MainSection{
	position: fixed;
	width: 100vw;
	bottom: 68px;
	top: 52px;
	
	transition: .06s;
	transform: translateX(120%);
	&.visible{
		transform: translateX(0);
	}
}

.ChatHeader{
	background-color: var(--primary-black);
	padding: 10px 0;
	display: flex;
	
	position: sticky;
	border-bottom: 1px solid var(--primary-blue);

	
	& .BackButton{
		display: flex;
		align-items: center;
		margin-left: 3%;

		& svg{
			fill: var(--text-color);
		}
	}


	& img{
		margin-left: 5%;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		margin-right: 10px;
	}

	& .UserInfo{

		& .UserName{
			display: block;
			overflow-wrap: break-word;
			max-width: 65vw;
		}
	}
}

.Messages{
	height: 75vh;
	overflow-y: scroll;
	
	& .Message{
		display: flex;
		margin-bottom: 5px;
		padding: 3px 10px;
			&:last-child{
				margin-bottom: 100px;
			}
		
		& .Message{
				display: block;
				overflow-wrap: break-word;
				max-width: 60%;
				margin: 0 2%;
				border-radius: 15px;
				padding: 5px 12px;
				
				& img{
					width: 64px;
					height: 64px;
				}

				& .MessageInfo{
					vertical-align: sub;
					margin-left: 10px;
					font-size: 12px;
				}
			}
			
			&.YourMessage{
				justify-content: end;
				
			& .Message{
				background-color: var(--primary-blue);
				border-bottom-right-radius: 0;
				color: #fff;
			}
		}

		&.CompanionMessage{

			& .Message{
				background-color: var(--background-color);
				border-bottom-left-radius: 0;
			}
		}
	}
}

.CreateMessage{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	width: 100%;

	& .StickersMenu{
		position: absolute;
		left: 2%;
		width: 26px;
		height: 26px;

		& svg{
			fill: var(--primary-blue);
			width: 26px;
			height: 26px;
		}
	}

	& textarea{
		padding-left: 42px;
	}
	
	& .SendButton{
		position: absolute;
		right: 2%;
		width: 32px;
		height: 32px;
		
		transition: .1s;
		scale: 0.5;
		opacity: 0;
			&.visible{
				scale: 1;
				opacity: 1;
			}

		& svg{
			fill: var(--primary-blue);
		}
	}
}