.Field{
	width: 70%;
	height: 35px;
	border: none;
	background-color: var(--primary-black);
	border: 2px solid var(--primary-blue);
	border-radius: 15px;
	outline: none;
	color: var(--text-color);
	font-size: 17px;
	padding-left: 10px;
	padding-right: 40px;

	&.Modern{
		border-radius: 0;
		border: none;
		border-bottom: 2px solid var(--background-color);

		&:focus{
			border-bottom: 2px solid var(--primary-blue);
		}
	}
}

.InputBar{
	display: flex;
	justify-content: center;
	align-items: center;

	& .TWclearBtn{
		position: absolute;
		right: 11%;
		height: 24px;
		transition: 0.2s;
		rotate: -50deg;
		opacity: 0;
		scale: 0.3;
			&.visible{
				rotate: 0deg;
				scale: 1;
				opacity: 1;
			}

		& svg{
			width: 24px;
			fill: var(--text-color);
		}
	}
}
