@media (max-width: 450px){
	.TWuserHeader{
		background-color: var(--primary-blue);
		height: 15vh;
	}

	.TWuserProfile{
		display: flex;
		justify-content: space-between;
		margin: 0 5%;

		& .TWuserInfo{
			
			& img{
				position: absolute;
				transform: translateY(-45px);
				width: 90px;
				height: 90px;
				border-radius: 50%;
			}

			& .TWuserName{
				display: flex;
				flex-direction: column;
				margin-top: 58px;

				& .TWuserProfileNickName{
					font-size: 18px;
				}

				& .TWuserProfileName{
					color: var(--primary-gray);
					font-size: 14px;
				}
			}

			& .TWuserDateReg{
				margin-top: 15px;
				
				& svg{
					width: 24px;
					fill: var(--primary-white);
				}

				& span{
					position: absolute;
					transform: translateY(2px) translateX(3px);
				}
			}

			& .TWuserSettings{
				margin-top: 15px;

				& .TWcurrentTheme{
					color: var(--primary-blue);
					background: none;
					padding: 0;
					margin-left: 5px;
				}
			}
		}

		& button{
			color: #fff;
			background-color: var(--primary-blue);
			border: none;
			border-radius: 10px;
			height: min-content;
			font-size: 16px;
			padding: 5px 15px;
			margin-top: 10px;
		}
	}
}