.AllCategoryProduct{

	& .Collections{

	   & .Collection{

		   & .CollectionsInfo{
			   display: flex;
			   justify-content: space-between;
			   margin: 15px 5% 0;
   
			   & .ShowAll{
				   color: var(--primary-blue);
				   font-size: 14px;
			   }
		   }
	   }
   }
}

.PromoCodeBtn{
   position: fixed;
   bottom: 75px;
   right: 5px;

   & button{
	   padding: 10px 15px;
   }
}

.ModalMenuPromoCode{
   
   & .InsideMenu{
	   display: flex;
	   flex-direction: column;
	   justify-content: center;
	   margin: 0% 5%;

	   & .ClueText{
		   text-align: center;
		   font-size: 17px;
		   margin: 3%;
	   }
	   
	   & input{
		   width: 80%;
		   text-transform: uppercase;
	   }
	   
	   & button{
		   margin: 3% auto;
		   width: 50%;
	   }
   }
}