.ShopHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ShopHeader input {
  width: 70%;
  height: 35px;
  border: none;
  background-color: var(--primary-black);
  border: 2px solid var(--primary-blue);
  border-radius: 15px;
  outline: none;
  color: var(--text-color);
  font-size: 17px;
  padding-left: 10px;
  padding-right: 40px;
}
.ShopHeader .TWclearBtn {
  position: absolute;
  right: 12%;
  height: 16px;
}
.ShopHeader .TWclearBtn svg {
  width: 16px;
  fill: var(--text-color);
}

.AllCategoryProduct .Collections .Collection:last-child {
  margin-bottom: 140px;
}
.AllCategoryProduct .Collections .Collection .CollectionsInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 5% 0;
}
.AllCategoryProduct .Collections .Collection .CollectionsInfo .ShowAll {
  color: var(--primary-blue);
  font-size: 14px;
}

.PromoCodeBtn button {
  position: fixed;
  bottom: 75px;
  right: 5px;
  margin-left: 50%;
  background-color: var(--primary-blue);
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
}

.ModalMenuPromoCode .InsideMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3% 5%;
}
.ModalMenuPromoCode .InsideMenu .ClueText {
  text-align: center;
  font-size: 17px;
}
.ModalMenuPromoCode .InsideMenu input {
  width: 80%;
  height: 35px;
  border: none;
  background-color: var(--primary-black);
  border: 2px solid var(--primary-blue);
  border-radius: 15px;
  outline: none;
  color: var(--text-color);
  font-size: 17px;
  margin-top: 3%;
  padding-left: 10px;
  padding-right: 40px;
  text-transform: uppercase;
}
.ModalMenuPromoCode .InsideMenu .Done {
  margin-top: 5%;
  padding: 5px;
  width: 50%;
  background-color: var(--primary-blue);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
}