.TWsearchBar{
	display: flex;
	justify-content: center;
	align-items: center;

	& input{
		width: 70%;
        height: 35px;
        border: none;
        background-color: var(--primary-black);
		border: 2px solid var(--primary-blue);
		border-radius: 15px;
		outline: none;
		color: var(--text-color);
		font-size: 17px;
		padding-left: 10px;
		padding-right: 40px;
	}

	& .TWclearBtn{
		position: absolute;
		right: 12%;
		height: 16px;

		& svg{
			width: 16px;
			fill: var(--text-color);
		}
	}
}

.TWpostsSearchResult{
	margin-top: 20px;
}