@media (max-width: 450px) {
	.TWcreatePostBtn{
		position: fixed;
		bottom: 75px;
		right: 5px;
		margin-left: 65%;
		background-color: var(--primary-blue);
		padding: 10px;
		border-radius: 10px;
		color: #fff;
	}
}