@media (max-width: 450px) {
  .TWcreatePostBtn {
    position: fixed;
    bottom: 75px;
    right: 5px;
    margin-left: 65%;
    background-color: var(--primary-blue);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
  }
  .TWcreatePost {
    margin: 5% 5%;
  }
  .TWcreatePost .TWcreatePostHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .TWcreatePost .TWcreatePostHeader span {
    font-size: 20px;
  }
  .TWcreatePost .TWcreatePostHeader button {
    background-color: var(--primary-blue);
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 4px 6px;
    font-size: 16px;
  }
  .TWcreatePost .TWcreatePostMain {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .TWcreatePost .TWcreatePostMain textarea {
    height: 47vh;
    color: var(--text-color);
    outline: none;
    font-size: 16px;
    width: 100%;
    border: none;
    background-color: var(--primary-black);
  }
  .TWcreatePost .TWcreatePostFooter .PostInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .TWcreatePost .TWcreatePostFooter .PostInfo .ExtraBtns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .TWcreatePost .TWcreatePostFooter .PostInfo .ExtraBtns button {
    background: none;
    border: none;
  }
  .TWcreatePost .TWcreatePostFooter .PostInfo .ExtraBtns .AddExtraEmoji svg {
    width: 28px;
  }
  .TWcreatePost .TWcreatePostFooter .PostInfo .ExtraBtns svg {
    fill: var(--primary-blue);
  }
}